<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{ bootstrap.load_css() }}
</head>
<body>
    
    <div class="container">
        <div class="row">

          <!--COLUMN 1 (EMPTY)-->
          <div class="col-sm">
          </div>

          <!--COLUMN 2 (CENTER CONTENT)-->
          <div class="col-sm">
            <div class="card" style="width: 32rem;">
                
                <!--WELCOME IMAGE-->
                <img src="static/images/3.png" class="card-img-top" alt="...">
                <div class="card-body">

                    <!--SEARCH BAR-->
                    <div class="text-center">
                      <form action="/searchIngredient" method="POST">
                        <input type="text" name="query" placeholder="Enter Search">
                        <hr>
                     <!--SEARCH BUTTON-->
                      <div class="text-center">
                        <button type="submit" class="btn btn-success">Search Ingredients</button>
                      </div>
                      </form>
                    </div>

                    <br>
                      <hr>
                    
                    </div>
              </div>
          </div>
          <!--COLUMN 3 (EMPTY)-->
          <div class="col-sm">
          </div>
        </div>
      </div>

    {{ bootstrap.load_js() }}
</body>
</html>